.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* .card {
    background-color: rgb(25,118,210);
    padding: 20px;
    width: 350px;
} */
